<% provide(:title,'Welcome to BeoTracker.com') %>

<div class="panel panel-default visible">
  <div class="panel-heading">
    <h3 class="panel-title">Panel 1</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam bibendum nisi 
    convallis commodo in vel arcu. Nunc egestas est eget risus laoreet ultricies. Cras vel 
    felis erat. Proin volutpat ligula arcu, ac suscipit elit hendrerit et. 
  </div>
</div>

<div class="panel panel-default visible">
  <div class="panel-heading">
    <h3 class="panel-title">Panel 2</h3>
  </div>
  <div class="panel-body">
    Nulla sed mi posuere, dapibus lacus quis, posuere magna. Aenean sagittis massa sem, n
    on volutpat nunc viverra at. Praesent viverra gravida nulla in viverra. Morbi lacus dui, 
    euismod at varius ut, vehicula a odio. Vivamus ut elit et eros dignissim placerat sed 
    quis risus. Ut iaculis metus vitae erat gravida blandit. 
  </div>
</div>

<div class="panel panel-default visible">
  <div class="panel-heading">
    <h3 class="panel-title">Panel 3</h3>
  </div>
  <div class="panel-body">
    Integer congue arcu lorem, et vestibulum leo varius in. Phasellus 
    vestibulum justo blandit neque varius, quis cursus sapien faucibus. Integer luctus sapien 
    et mauris bibendum varius. Pellentesque quis eros nec nibh tincidunt rutrum. 
  </div>
</div>

<div class="panel panel-default visible">
  <div class="panel-heading">
    <h3 class="panel-title">Panel 4</h3>
  </div>
  <div class="panel-body">
    Ut iaculis metus vitae erat gravida blandit. Mauris a leo odio. Suspendisse 
    pellentesque molestie. 
  </div>
</div>

<div class="panel panel-default visible">
  <div class="panel-heading">
    <h3 class="panel-title">Panel 5</h3>
  </div>
  <div class="panel-body">
    Aenean sagittis massa sem, n
    on volutpat nunc viverra at. Praesent viverra gravida nulla in viverra. Morbi lacus dui, 
    euismod at varius ut, vehicula a odio. Vivamus ut elit et eros dignissim placerat sed 
    quis risus. Ut iaculis metus vitae erat gravida blandit. Mauris a leo odio. Suspendisse 
    pellentesque molestie. Integer congue arcu lorem, et vestibulum leo varius in. Phasellus 
    vestibulum justo blandit neque varius, quis cursus sapien faucibus. Integer luctus sapien 
    et mauris bibendum varius. Pellentesque quis eros nec nibh tincidunt rutrum.  
  </div>
</div>

    

